// Animations

// Imports
@import '~@stereorepo/sac/src/scss/transition';

// Timing functions
$ease-in-out-timing-function: cubic-bezier(0.38, 0, 0.45, 0.93);
$ease-in-timing-function: cubic-bezier(0.42, 0.08, 0.45, 0.09);
$ease-out-timing-function: cubic-bezier(0, 0.15, 0.1, 0.85);

// Durations
$big-duration: 0.7s;
$medium-duration: 0.5s;
$short-duration: 0.3s;
