// Variables //


// Colors
$white: #fff;
$black: #000;
$bg: #F8F5F1;
$text: #18162B;
$grey: #5C6370;
$primary: #55C4DA;


// Transitions
$transition: 0.3s ease-in-out;


// Fonts
$ibm: 'ibmplex', sans-serif;
$ibm-it: 'ibmplex_italic', $ibm;
$ibm-bold: 'ibmplex_semibold', $ibm;
$ibm-it-bold: 'ibmplex_semibolditalic', $ibm;

$recoleta: 'recoleta', $ibm;
$recoleta-bold: 'recoleta_bold', $ibm;


// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';

$desktop-big: '1400px';
$desktop: '1100px';
$desktop-small: '960px';
$tablet: '780px';
$phone: '580px';
$phone-small: '400px';


// Grid
$col: 100/12*1%;

$gutter: 20px;
