.newsletter{
    padding: 30px 20px 35px;
    margin: 8em 0;
    border-radius: 6px;
    background: #fff;
    .wpcf7-email{
        background-color: $bg;
    }
    .wpcf7-submit{
        padding: 20px 25px;
        margin: 10px 0 0;
    }
    .wpcf7-response-output{
        width: 100%;
    }
    .wpcf7-form.sent{
        width: auto;
        padding: 0;
    }
    .email{
        margin: 0;
        &.on{
            + span{
                opacity: 0;
            }
        }
        + span{
            padding: 15px 40px 15px 20px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            white-space: nowrap;
            pointer-events: none;
        }
    }
    label{
        display: block;
        position: relative;
        font-family: $ibm;
    }
    input[type=email]{
        max-width: 100%;
    }
    .text{
        margin: 0 0 30px;
    }
    h2, p{
        margin: 0;
    }
}


@media (min-width: $phone){
    .newsletter{
        padding-left: 60px;
        padding-right: 60px;
        .wpcf7-form{
            display: flex;
            flex-wrap: wrap;
            > p{
                &:first-of-type{
                    flex: 1 1 1px;
                }
            }
        }
        .wpcf7-submit{
            margin: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        input[type=email]{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

@media (min-width: $desktop-small){
    .newsletter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: -6em;
        margin-right: -6em;
        .text{
            width: 35%;
        }
        .wpcf7{
            width: 55%;
        }
    }
}
