.ref-slider {
    width: 100%;
    position: relative;
    transform: translate3d(0, 0, 0);
    background: $white;
}

.ref-slide-current {
    position: relative;
    transition: transition(
        (
            transform: (
                '1s'
            )
        ),
        ease-out
    );
}

.ref-slide-prev,
.ref-slide-next {
}

.ref-slide-prev {
    left: 100%;
}

.ref-slide-next {
    position: absolute;
    top: 0;
    left: 100%;
    right: -100%;
}

.ref-slide-next-in {
    transform: translate3d(-100%, 0, 0);
    transition: transition(
        (
            transform: (
                '0.3s',
                '0.3s'
            )
        ),
        ease-out
    );
}

.ref-slide-next-out {
    transform: translate3d(-100%, 0, 0);
    transition: transition(
        (
            transform: (
                '0.3s'
            )
        ),
        ease-in
    );
}
