.ref {
    display: inline-flex;
    width: 165px;
    height: 165px;
    border: 0;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 1;
    line-height: 1.2;
    text-align: center;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        border-radius: 50%;
        background: #fff;
        transition: $transition;
    }

    &.number {
        padding: 20px;
        font-family: $ibm-bold;

        &:after {
            background: $primary;
        }
    }

    .nb {
        display: block;
        font-family: $recoleta-bold;
        font-size: 3.6rem;
        color: #fff;
    }

    img {
        max-width: 80%;
        transition: $transition;
    }
}

a {
    &.ref {

        &:hover,
        &:focus {
            &:after {
                transform: scale(0.9);
            }

            img {
                transform: scale(0.97);
            }
        }
    }
}

.title-ref {
    margin-bottom: 2*$line-height;
}

.wrapper-data {
    position: relative;
}

.data-number {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    margin-top: -23px;
    font-family: $recoleta-bold;
    color: $white;
    border-radius: 50%;
    background: $primary;

    >span {
        position: relative;
        top: 0.15em;
    }
}

.data-text {
    padding-left: 61px;
    margin-bottom: $line-height;
}

.title-text {
    display: flex;
    align-items: flex-start;
    width: percentage(6/10);

    >* {
        flex: 0 0 auto;
    }
}

.use-case-title {
    width: percentage(2/6);
    color: $text;
}

.use-case-content {
    width: percentage(4/6);
    padding-left: $gutter;
}

.wrapper-results-awards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    >* {
        flex: 0 0 auto;
    }
}

.results {
    width: percentage(6/10);
}

.awards {
    width: percentage(3/10);

    h3 {
        color: $grey;
    }

    >ul {
        margin: 0;
    }

    li {
        margin-bottom: $line-height;
        padding: 0;

        &::before {
            content: none;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.award-name {
    display: inline-block;
    font-family: $recoleta-bold;
    font-size: 1.6rem;
    margin: 0;
}

.award-year {
    font-family: $ibm;
    font-size: 1.4rem;
    margin-left: 3px;
    color: $primary;
}

.award-desc {
    margin: 0;
}

.wrapper-ref-illus {
    width: 254px;
    height: 254px;
    border-radius: 50%;
    background: $primary;
    margin: 0 0 $line-height percentage(1/10);
}