.ref-slider {
    width: 100%;
    position: relative;
    background: $white;
}

.ref-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.ref-slide-init {
    position: relative;
}
