.wrapper-related {
    padding: 3 * $line-height 0;
}

.related-posts {
    margin-top: 3 * $line-height;
    padding: 0 0 3 * $line-height;
}

.related {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: #{2 * $line-height} 0 0;

    > li {
        width: 100%;
        margin-bottom: $line-height;
        padding: 0 0 $line-height;
        border-bottom: 1px solid $grey;

        &::before {
            content: none;
        }
    }
}

@media (min-width: $desktop-small) {
    .wrapper-related {
        padding: 4 * $line-height 0 6 * $line-height;
    }

    .related-posts {
        &.reversed {
            .related {
                > li {
                    margin-right: 0;
                    margin-left: percentage(1/12);
                }
            }

            h2 {
                margin-left: percentage(1/12);
            }
        }
    }

    .related-posts {
        padding-bottom: 5 * $line-height;
    }

    .related {
        > li {
            width: 25%;
            margin-right: percentage(1/12);
        }
    }
}
