.wrapper-related {
    margin-top: 3*$line-height;
    padding: 3*$line-height 0 3*$line-height;
    background: $white;
}

.related-posts {
    margin-top: 3*$line-height;
    padding: 0 0 3*$line-height;
}

.related {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: #{2*$line-height} 0 0;

    >li {
        width: 100%;
        margin-bottom: $line-height;
        padding: 0 0 $line-height;
        border-bottom: 1px solid $grey;

        &::before {
            content: none;
        }
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 25px;
    }

    .logo-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
            margin-right: 10px;
        }

        a {
            font-family: $ibm;
            font-size: 1.4rem;
        }
    }

    p {
        margin: 0;
    }
}

.related-title {
    a {
        font-family: $recoleta-bold;
        font-size: 2.4rem;
        border: 0;
        color: $text;

        &:hover,
        &:focus {
            color: $primary;
        }
    }
}

.related-date {
    font-family: $ibm;
    font-size: 1.4rem;
    color: $text;
}

@media (min-width: $desktop-small) {
    .wrapper-related {
        margin-top: 4*$line-height;
        padding: 4*$line-height 0 6*$line-height;
    }

    .related-posts {
        &.reversed {
            .related {
                >li {
                    margin-right: 0;
                    margin-left: percentage(1/12);
                }
            }

            h2 {
                margin-left: percentage(1/12);
            }
        }
    }

    .related-posts {
        padding-bottom: 5*$line-height;
    }

    .related {

        >li {
            width: 25%;
            margin-right: percentage(1/12);
        }
    }
}