@charset "UTF-8";
/* Functions */
/* Mixins */
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary,
menu,
main {
  display: block; }

audio, canvas, video, progress {
  display: inline-block;
  vertical-align: middle; }

audio:not([controls]), [hidden], template {
  display: none;
  height: 0; }

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-size: inherit;
  line-height: inherit; }
  *:after, *:before {
    -webkit-box-sizing: inherit;
            box-sizing: inherit; }

:after, :before {
  vertical-align: inherit;
  text-decoration: inherit; }

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; }

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; }

a {
  background-color: transparent; }
  a:focus {
    outline: thin dotted; }
  a:active, a:hover {
    outline: 0; }

iframe, img, svg {
  vertical-align: middle; }

iframe, embed, object {
  max-width: 100%; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  margin: 1em 0; }

nav ul, nav ol {
  list-style: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

fieldset, legend {
  border: 0; }

legend {
  white-space: normal;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0; }

select {
  cursor: pointer; }
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000; }

button[disabled], input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  vertical-align: baseline;
  font: inherit;
  background: none;
  border-radius: 0;
  margin: 0; }

button,
input,
select {
  overflow: visible; }

input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  input[type=checkbox], input[type=radio] {
    cursor: pointer;
    padding: 0; }
  input[type=checkbox] {
    -moz-appearance: checkbox;
    -webkit-appearance: checkbox; }
  input[type=radio] {
    -moz-appearance: radio;
    -webkit-appearance: radio; }
  input[type=number] {
    width: auto; }
    input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
      height: auto; }

button,
input[type=button], input[type=reset], input[type=submit] {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  cursor: pointer; }

textarea {
  vertical-align: top;
  overflow: auto;
  resize: vertical;
  -moz-appearance: none;
  -webkit-appearance: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

progress {
  display: inline-block;
  vertical-align: baseline; }

menu {
  margin: 1em 0;
  padding: 0 0 0 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

sup {
  position: relative;
  top: -0.5em;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

@font-face {
  font-family: 'recoleta';
  src: url(/wp-content/themes/proximis/fonts/Recoleta-Regular.woff2) format("woff2"), url(/wp-content/themes/proximis/fonts/Recoleta-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'recoleta_bold';
  src: url(/wp-content/themes/proximis/fonts/Recoleta-Bold.woff2) format("woff2"), url(/wp-content/themes/proximis/fonts/Recoleta-Bold.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ibmplex_italic';
  src: url(/wp-content/themes/proximis/fonts/ibmplexsans-italic-webfont.woff2) format("woff2"), url(/wp-content/themes/proximis/fonts/ibmplexsans-italic-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ibmplex';
  src: url(/wp-content/themes/proximis/fonts/ibmplexsans-regular-webfont.woff2) format("woff2"), url(/wp-content/themes/proximis/fonts/ibmplexsans-regular-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ibmplex_semibold';
  src: url(/wp-content/themes/proximis/fonts/ibmplexsans-semibold-webfont.woff2) format("woff2"), url(/wp-content/themes/proximis/fonts/ibmplexsans-semibold-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ibmplex_semibolditalic';
  src: url(/wp-content/themes/proximis/fonts/ibmplexsans-semibolditalic-webfont.woff2) format("woff2"), url(/wp-content/themes/proximis/fonts/ibmplexsans-semibolditalic-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

/******* GÉNÉRAL *******/
::-moz-selection {
  background: #55C4DA;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #55C4DA;
  color: #fff;
  text-shadow: none; }

html {
  font-size: 62.5%;
  /* sets the base font to 10px for easier math */ }

body {
  font: 1.6em/1.55 "ibmplex", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F8F5F1;
  color: #18162B; }
  body.menu-open {
    overflow-y: hidden; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: 400; }

h1, h2, h3 {
  font-family: "recoleta_bold", "ibmplex", sans-serif; }

h4, h5, h6 {
  font-family: "ibmplex_semibold", "ibmplex", sans-serif;
  margin: 1.9em 0 1.5em; }

h1 {
  font-size: 4.3rem;
  margin: 0.6em 0 1.4em; }

h2 {
  font-size: 2.2rem;
  margin: 1.75em 0 1.25em; }

h3 {
  font-size: 2rem;
  margin: 1.25em 0;
  color: #55C4DA; }

h4 {
  font-size: 2rem;
  margin: 1.33em 0; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.8rem; }

p {
  margin: 2em 0; }

b, strong {
  font-family: "ibmplex_semibold", "ibmplex", sans-serif; }
  b i, b em, strong i, strong em {
    font-family: "ibmplex_semibolditalic", "ibmplex", sans-serif; }

i, em {
  font-family: "ibmplex_italic", "ibmplex", sans-serif; }
  i b, i strong, em b, em strong {
    font-family: "ibmplex_semibolditalic", "ibmplex", sans-serif; }

blockquote {
  margin: 2em 20px;
  font-family: "recoleta", "ibmplex", sans-serif;
  font-size: 2.4rem;
  color: #5C6370; }
  blockquote > p:before {
    content: '“';
    color: #55C4DA; }
  blockquote > p:after {
    content: '”';
    color: #55C4DA; }

ol, ul {
  padding: 0;
  margin: 2em 0;
  list-style: none; }
  ol ol, ol ul, ul ol, ul ul {
    padding: 0 0 0 25px;
    margin: 1em 0; }

ol {
  counter-reset: ol-counter; }
  ol > li {
    counter-increment: ol-counter; }
    ol > li:before {
      content: counter(ol-counter) ".";
      color: #55C4DA; }

ul > li:before {
  width: 8px;
  height: 8px;
  background: #55C4DA;
  border-radius: 50%; }

li {
  padding: 0 0 0 40px;
  position: relative; }
  li:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 20px; }

img {
  max-width: 100%;
  height: auto; }

code, pre {
  display: block;
  padding: 10px 15px;
  margin: 1em 0;
  background: grey; }

hr {
  height: 1px;
  max-width: 250px;
  border: 0;
  margin: 3em auto 5em;
  background: #000; }

/******* LIENS / BOUTONS *******/
a {
  font-family: "ibmplex_semibold", "ibmplex", sans-serif;
  color: #55C4DA;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  a:focus {
    outline: 0; }
  a:active {
    -webkit-filter: saturate(200%);
            filter: saturate(200%); }

/******* CLASSES GENERALES  *******/
.hidden {
  display: none !important; }

.visually-hidden {
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  position: absolute;
  margin: -1px;
  overflow: hidden; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.icon {
  width: 1.2em;
  height: 1.2em;
  fill: currentColor; }

.no-transition {
  -webkit-transition: none !important;
  transition: none !important; }

.has-medium-font-size {
  font-size: 2rem;
  margin-bottom: 4.2em; }

.has-drop-cap {
  position: relative;
  z-index: 1; }
  .has-drop-cap:before {
    content: '';
    height: 160px;
    position: absolute;
    top: -35px;
    left: -50vw;
    right: 50%;
    z-index: -1;
    background: #fff; }
  .has-drop-cap:not(:focus):first-letter {
    margin: 0.3em 20px 0 0;
    font-size: 9.7rem;
    line-height: 0.5;
    font-family: "recoleta_bold", "ibmplex", sans-serif;
    color: #55C4DA; }

.breadcrumbs {
  position: relative;
  font-size: 1.4rem;
  line-height: 1;
  font-family: "ibmplex", sans-serif; }
  .breadcrumbs:before {
    content: '';
    height: 1px;
    position: absolute;
    top: 10px;
    left: -50vw;
    right: 100%;
    margin: 0 8px 0 0;
    background: #55C4DA; }
  .breadcrumbs a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: inherit; }
    .breadcrumbs a:after {
      content: '';
      display: block;
      width: 30px;
      height: 1px;
      margin: 4px 4px 0 6px;
      background: #55C4DA; }

@media (min-width: 400px) {
  .has-drop-cap:before {
    right: 65%; } }

@media (min-width: 580px) {
  .has-drop-cap:before {
    right: 75%; } }

@media (min-width: 780px) {
  body {
    font-size: 1.8em; }
  h1 {
    font-size: 5.4rem; }
  h2 {
    font-size: 2.8rem; }
  h3 {
    font-size: 2.4rem; }
  .has-drop-cap:before {
    right: 80%; } }

@media (min-width: 960px) {
  .has-drop-cap:before {
    right: 86%; } }

/* Placeholders */
/* Grid */
.container {
  max-width: 1350px;
  padding: 0 20px;
  margin: 0 auto; }

@media (min-width: 400px) {
  .container {
    padding: 0 40px; } }

@media (min-width: 960px) {
  .container-small {
    margin: 0 8.33333%; } }

@media (min-width: 1100px) {
  .container-small {
    margin: 0 25% 0 8.33333%; } }

/* Forms */
input, textarea, select, button {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  input:focus, textarea:focus, select:focus, button:focus {
    outline: 0; }

input:-webkit-autofill, textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
          box-shadow: 0 0 0 1000px #fff inset; }

input:invalid, textarea:invalid {
  -webkit-box-shadow: none;
          box-shadow: none; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  display: none; }

select::-ms-expand {
  display: none; }

button {
  border: 0; }

/* Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-bottom: 130px;
  font-size: 1.6rem; }

.logo {
  margin: 0 60px 0 0; }

.burger {
  width: 22px;
  height: 14px;
  position: relative; }
  .burger:after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px; }

.burger-icon, .burger-icon:before, .burger-icon:after {
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  background: #18162B; }

.burger-icon {
  top: 0; }
  .burger-icon:before, .burger-icon:after {
    content: ''; }
  .burger-icon:before {
    top: 6px; }
  .burger-icon:after {
    top: 12px; }

.nav {
  display: none;
  width: 95%;
  padding: 40px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  overflow-y: auto;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: -20px 10px 40px rgba(0, 0, 0, 0.1);
          box-shadow: -20px 10px 40px rgba(0, 0, 0, 0.1); }
  .menu-open .nav {
    display: block; }
  .nav .btn {
    min-width: 200px; }

.close-menu {
  width: 24px;
  height: 22px;
  position: absolute;
  top: 40px;
  right: 40px; }
  .close-menu:before, .close-menu:after {
    content: '';
    width: 2px;
    height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #18162B;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%; }
  .close-menu:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .close-menu:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.menu-main {
  margin: 5vh 0; }
  .menu-main > li {
    padding: 0; }
    .menu-main > li:before {
      content: none; }
    .menu-main > li:last-child a {
      border: 0; }
  .menu-main a {
    display: inline-block;
    min-width: 200px;
    padding: 20px;
    border-bottom: 1px solid rgba(92, 99, 112, 0.15);
    font-family: "ibmplex", sans-serif;
    color: #18162B;
    text-decoration: none; }
    .menu-main a:hover, .menu-main a:focus {
      text-decoration: underline; }

@media (min-width: 1100px) {
  .header {
    margin-top: 50px; }
  .burger, .logo-menu, .close-menu {
    display: none; }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0;
    position: static;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
    .nav .btn {
      min-width: 0; }
  .menu-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0; }
    .menu-main a {
      min-width: 0;
      border: 0; } }

/* Footer */
/* Buttons */
.btn {
  display: inline-block;
  padding: 15px 25px;
  line-height: 1;
  border-radius: 4px;
  background: #55C4DA;
  color: #fff;
  text-decoration: none; }

/* Home specific style */
/******* PRINT *******/
@media print {
  *, *:before {
    color: #000 !important; }
  a {
    text-decoration: underline; }
    a[href^="#"]:after {
      content: ''; }
  img {
    page-break-inside: avoid; }
  @page {
    margin: .5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }


/*# sourceMappingURL=main.css.map*/