/******* GÉNÉRAL *******/

::-moz-selection {
    background: $primary;
    color: $white;
    text-shadow: none;
}

::selection {
    background: $primary;
    color: $white;
    text-shadow: none;
}

html {
    font-size: 62.5%;
    /* sets the base font to 10px for easier math */
}

body {
    font: 1.6em / #{$line-height} #{$ibm};
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $bg;
    color: $text;

    &.menu-open {
        overflow-y: hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // line-height: 1.2;
    font-weight: 400;

    &.no-margin-bottom {
        +p {
            margin-top: 0;
        }
    }
}

h1,
h2,
h3 {
    font-family: $recoleta-bold;
}

h4,
h5,
h6 {
    font-family: $ibm-bold;
    margin: 1.9em 0 1.5em;
}

h1,
.h1 {
    font-size: 4.3rem;
    letter-spacing: -0.02em;
    line-height: 2 * $line-height;
}

h1 {
    margin: 0.6em 0 1.4em;
}

.h1 {
    margin-bottom: 0.8em;

    &.small-margin-bottom {
        margin-bottom: 0.4em;

        +p {
            margin-top: 0;
        }
    }
}

h2,
.home h3 {
    font-size: 2.2rem;
}

h2 {
    margin: 1.75em 0 1.25em;

    &.big {
        font-size: 2.4rem;
    }

    .home &.x-small,
    &.x-small {
        font-family: $ibm-bold;
        font-size: 2rem;
        line-height: $line-height;
        color: $grey;
    }

    &:not(.title) {
        >span {
            display: block;
            color: $grey;
        }
    }
}

h3 {
    font-size: 2rem;
    margin: 1.25em 0;
    color: $primary;
}

h4 {
    font-size: 2rem;
    margin: 1.33em 0;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.8rem;
}

p {
    margin: 2em 0;
}

b,
strong {
    font-family: $ibm-bold;

    i,
    em {
        font-family: $ibm-it-bold;
    }
}

i,
em {
    font-family: $ibm-it;
    font-style: normal;

    b,
    strong {
        font-family: $ibm-it-bold;
    }
}

blockquote {
    margin: 2em $gutter;
    font-family: $recoleta;
    font-size: 2.4rem;
    color: $grey;

    >p {
        &:before {
            content: '“';
            color: $primary;
        }

        &:after {
            content: '”';
            color: $primary;
        }
    }
}

q {
    position: relative;

    &:before {
        position: absolute;
        top: 0.1em;
        left: 0;
        transform: translateX(-100%);
        content: '“';
    }

    &:after {
        content: '”';
    }
}

ol,
ul {
    padding: 0;
    margin: 2em 0;
    list-style: none;

    ol,
    ul {
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}

ol {
    counter-reset: ol-counter;

    >li {
        counter-increment: ol-counter;

        &:before {
            content: counter(ol-counter) '.';
            color: $primary;
        }
    }
}

ul {
    >li {
        &:before {
            width: 8px;
            height: 8px;
            background: $primary;
            border-radius: 50%;
        }
    }
}

li {
    padding: 0 0 0 $gutter * 2;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 10px;
        left: $gutter;
    }
}

img {
    max-width: 100%;
    height: auto;
}

code,
pre {
    display: block;
    padding: 10px 15px;
    margin: 1em 0;
    background: grey;
}

hr {
    height: 1px;
    max-width: 250px;
    border: 0;
    margin: 3em auto 5em;
    background: $black;
}

/******* LIENS / BOUTONS *******/

a,
.simple-link {
    position: relative;
    font-family: $ibm-bold;
    line-height: $line-height;
    color: $primary;
    text-decoration: underline;
    transition: transition((text-decoration-color: ('#{$short-duration}'
            )),
        $ease-in-out-timing-function);

    &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
    }

    &:hover,
    &:focus {
        text-decoration-color: transparent;

        .is-ie & {
            text-decoration: none;
        }
    }

    &:focus {
        outline: 0;
    }

    &:active {
        filter: saturate(200%);
    }
}

/******* CLASSES GENERALES  *******/

.hidden {
    display: none !important;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    position: absolute;
    margin: -1px;
    overflow: hidden;
}

.clearfix {
    @include clearfix;
}

.icon {
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}

.no-transition {
    transition: none !important;

    &::before,
    &::after {
        transition: none !important;
    }
}

.has-medium-font-size {
    font-size: 2rem;
    margin-bottom: 4.2em;
}

.post-thumbnail,
.has-drop-cap {
    position: relative;
    z-index: 1;

    &:before {
        content: '';
        height: 160px;
        position: absolute;
        top: -35px;
        left: -50vw;
        right: 50%;
        z-index: -1;
        background: #fff;
    }
}

.has-drop-cap {
    &:not(:focus) {
        &:after {
            content: none;
        }

        &:first-letter {
            margin: 0.3em $gutter 0 0;
            font-size: 9.7rem;
            line-height: 0.5;
            font-family: $recoleta-bold;
            color: $primary;
        }
    }

    &:before {
        .has-thumbnail & {
            content: none;
        }
    }
}

.highlighted,
.img-shape {
    display: none;
}

.highlighted,
.book-highlighted {
    padding: 40px;
}

.newsletter-highlighted {
    padding: 40px 20px;
    background: #fff;
}

.wp-block-image {

    .alignright,
    .alignleft {
        float: none;
        margin: 0;
    }
}

.lottie {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: $primary;
    box-shadow: 0 10px 15px rgba(#000, 0.05);
}

.no-margin-bottom {
    margin-bottom: 0;
}

@media (min-width: $phone-small) {

    .post-thumbnail,
    .has-drop-cap {
        &:before {
            right: 65%;
        }
    }
}

@media (min-width: $phone) {

    .post-thumbnail,
    .has-drop-cap {
        &:before {
            right: 75%;
        }
    }

    .newsletter-highlighted {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: $tablet) {
    // body {
    //     font-size: 1.8em;
    // }

    h1,
    .home h1,
    .home h2,
    .h1 {
        font-size: 5.4rem;
    }

    h2,
    .home h3 {
        font-size: 2.8rem;
    }

    h2 {
        &.big {
            font-size: 3rem;
        }
    }

    h3 {
        font-size: 2.4rem;
    }

    .post-thumbnail,
    .has-drop-cap {
        &:before {
            right: 80%;
        }
    }
}

@media (min-width: $desktop-small) {
    q {
        &:before {
            transform: translateX(calc(-100% - 5px));
        }
    }

    .post-thumbnail,
    .has-drop-cap {
        &:before {
            right: 86%;
        }
    }

    .img-shape {
        display: block;
        margin: 35px 0 0;
        shape-margin: 15px;
    }

    .alignright {
        float: right;
        margin-right: -25%;
    }

    .alignleft {
        float: left;
    }

    .wp-block-image {
        .alignright {
            float: right;
            margin-right: -25%;
            margin-left: 1em;
        }

        .alignleft {
            float: left;
            margin-right: 1em;
        }
    }

    .highlighted {
        display: block;
        font-family: $recoleta;
        font-size: 2rem;
        line-height: $line-height;
        color: $grey;
        background: #fff;

        >p {
            margin: 0;
        }

        .line {
            top: 52px;
        }
    }

    .book-highlighted,
    .newsletter-highlighted {
        h2 {
            margin: 20px 0 30px;
        }

        .line {
            top: 190px;
        }
    }

    .highlighted,
    .book-highlighted {
        position: relative;

        .line {
            width: 45px;
            height: 1px;
            position: absolute;
            left: -22px;
            background: $primary;
            transform: scaleX(0);
            transform-origin: 80% 0;
        }
    }
}

@media (min-width: $desktop) {

    .highlighted,
    .book-highlighted,
    .newsletter-highlighted {
        width: 240px;
        position: absolute;
        right: 0;
        margin: -38px 0 0;
    }

    .alignright {
        margin-right: -45%;
    }

    .wp-block-image {
        .alignright {
            margin-right: -45%;
        }
    }
}

@media (min-width: $desktop-big) {
    .highlighted {
        font-size: 2.4rem;

        .line {
            top: 72px;
        }
    }

    .book-highlighted {
        .line {
            top: 208px;
        }
    }

    .highlighted,
    .book-highlighted,
    .newsletter-highlighted {
        width: 330px;
        padding: 60px 100px 60px 40px;
        margin-top: -60px;
    }
}