/******* GÉNÉRAL *******/

::-moz-selection {
    background: $primary;
    color: $white;
    text-shadow: none;
}

::selection {
    background: $primary;
    color: $white;
    text-shadow: none;
}

html {
    font-size: 62.5%;
    /* sets the base font to 10px for easier math */
}

body {
    font: 1.6em / #{$line-height} #{$ibm};
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $bg;
    color: $text;

    &.menu-open {
        overflow-y: hidden;
    }

    &.error404 {
        background: $secondary;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // line-height: 1.2;
    font-weight: 400;

    &.no-margin-bottom,
    &.small-margin-bottom {
        + p {
            margin-top: 0;
        }
    }
}

h1,
h2,
h3 {
    font-family: $recoleta-bold;
}

h4,
h5,
h6 {
    font-family: $ibm-bold;
    margin: 1.9em 0 1.5em;
}

h1,
.h1 {
    font-size: 4.3rem;
    letter-spacing: -0.02em;
    line-height: 2 * $line-height;
}

h1 {
    margin: 0.6em 0 1.4em;
}

.h1 {
    margin-bottom: 0.8em;

    &.small-margin-bottom {
        margin-bottom: 0.4em;

        + p {
            margin-top: 0;
        }
    }
}

h2,
.home h3 {
    font-size: 2.2rem;
}

h2 {
    margin: 1.75em 0 1.25em;

    &.big {
        font-size: 2.4rem;
    }

    .home &.x-small,
    &.x-small {
        font-size: 2rem;
        line-height: $line-height;
    }

    .home &.alter-font,
    &.alter-font {
        font-family: $ibm-bold;
        color: $grey;
    }

    &:not(.title) {
        > span {
            display: block;
            color: $grey;
        }
    }
}

h3 {
    font-size: 2rem;
    margin: 1.25em 0;
    color: $primary;
}

h4 {
    font-size: 2rem;
    margin: 1.33em 0;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.8rem;
}

p {
    margin: $line-height 0;
}

b,
strong {
    font-family: $ibm-bold;

    i,
    em {
        font-family: $ibm-it-bold;
    }
}

i,
em {
    font-family: $ibm-it;
    font-style: normal;

    b,
    strong {
        font-family: $ibm-it-bold;
    }
}

blockquote {
    margin: 2em $gutter;
    font-family: $recoleta;
    font-size: 2.4rem;
    color: $grey;

    > p {
        &:before {
            content: '“';
            color: $primary;
        }

        &:after {
            content: '”';
            color: $primary;
        }
    }
}

q {
    position: relative;

    &:before {
        position: absolute;
        top: 0.1em;
        left: 0;
        transform: translateX(-100%);
        content: '“';
    }

    &:after {
        content: '”';
    }
}

ol,
ul {
    padding: 0;
    margin: 2em 0;
    list-style: none;

    ol,
    ul {
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}

ol {
    counter-reset: ol-counter;

    > li {
        counter-increment: ol-counter;

        &:before {
            content: counter(ol-counter) '.';
            top: 2px;
            font-family: $recoleta-bold;
            color: $primary;
        }
    }
}

ul {
    > li {
        &:before {
            width: 8px;
            height: 8px;
            top: 10px;
            background: $primary;
            border-radius: 50%;
        }
    }
}

li {
    padding: 0 0 0 $gutter * 2;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: $gutter;
    }
}

img {
    max-width: 100%;
    height: auto;
}

code,
pre {
    display: block;
    padding: 10px 15px;
    margin: 1em 0;
    background: grey;
}

hr {
    height: 1px;
    max-width: 250px;
    border: 0;
    margin: 3em auto 5em;
    background: $black;
}

/******* LIENS / BOUTONS *******/

a,
.simple-link {
    position: relative;
    font-family: $ibm-bold;
    line-height: $line-height;
    color: $primary;
    text-decoration: underline;
    transition: $short-duration $ease-in-out-timing-function;

    &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
    }

    &:hover,
    &:focus {
        text-decoration-color: transparent;

        .is-ie & {
            text-decoration: none;
        }
    }

    &:focus {
        outline: 0;
    }

    &:active {
        filter: saturate(200%);
    }
}

/******* CLASSES GENERALES  *******/

.hidden {
    display: none !important;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    position: absolute;
    margin: -1px;
    overflow: hidden;
}

.clearfix {
    @include clearfix;
}

.icon {
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}

.no-transition {
    transition: none !important;

    &::before,
    &::after {
        transition: none !important;
    }
}

.bg-white {
    background: $white;
}

.has-medium-font-size {
    font-size: 2rem;
    margin-bottom: 4.2em;
}

.post-thumbnail,
.has-drop-cap {
    position: relative;
    z-index: 1;

    &:before {
        content: '';
        height: 160px;
        position: absolute;
        top: -35px;
        left: -50vw;
        right: 50%;
        z-index: -1;
        background: #fff;
    }
}

.has-drop-cap {
    &:not(:focus) {
        &:after {
            content: none;
        }

        &:first-letter {
            margin: 0.22em $gutter 0 0;
            font-size: 9.7rem;
            line-height: 0.5;
            font-family: $recoleta-bold;
            color: $primary;
        }
    }

    &:before {
        .has-thumbnail & {
            content: none;
        }
    }
}

.highlighted,
.img-shape {
    display: none;
}

.highlighted {
    z-index: 10;
    font-family: $recoleta;
    font-size: 2rem;
    line-height: $line-height;
    color: $grey;
    background: #fff;

    .single-job & {
        display: block;
        padding: 25px 20px;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;

        br {
            display: none;
        }
    }

    > p {
        margin: 0;
    }

    .line {
        display: none;
        top: 52px;
    }

    a {
        font-family: inherit;
    }
}

.highlighted,
.book-highlighted {
    padding: 40px;
}

.newsletter-highlighted {
    padding: 40px 20px;
    background: #fff;
}

.wp-block-image {
    .alignright,
    .alignleft {
        float: none;
        margin: 0;
    }
}

.lottie {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: $primary;
    box-shadow: 0 10px 15px rgba(#000, 0.05);
    overflow: hidden;
}

.big-text {
    font-size: 1.8rem;
    .has-drop-cap {
        font-size: 2rem;
    }
}

.no-margin-bottom {
    margin-bottom: 0;
}

.small-margin-bottom {
    margin-bottom: $line-height;
}

.wrapper-collant {
    position: relative;
}

.collant {
    position: fixed !important;
}

.collant-stuck {
    position: absolute;
}

.wrapper-type,
.container.wrapper-type {
    margin-bottom: #{3 * $line-height};
}

.cols-text {
    img {
        display: none;
    }
}

.video {
    height: 0;
    padding: 0 0 50%;
    margin: 0 0 110px;
    position: relative;
    .cover,
    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .cover {
        display: flex;
        padding: 0 25px;
        align-items: center;
        justify-content: center;
        z-index: 1;
        color: #fff;
        cursor: pointer;
        background-size: cover;
        background-position: 50%;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(#18162b, 0.6);
            z-index: -1;
        }
        &:hover {
            .play {
                transform: scale(0.9);
            }
        }
    }
    .play {
        width: 65px;
        height: 65px;
        flex-shrink: 0;
        position: relative;
        border-radius: 50%;
        background: $primary;
        transform-origin: 50%;
        transition: $transition;
        &:after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 5px;
            right: 0;
            margin: auto;
            border-style: solid;
            border-width: 18px 0 18px 24px;
            border-color: transparent transparent transparent #fff;
        }
    }
    p {
        display: none;
    }
    .video-title {
        display: block;
        font-family: $recoleta-bold;
        font-size: 2.8rem;
    }
}

@media (min-width: $phone-small) {
    .post-thumbnail,
    .has-drop-cap {
        &:before {
            right: 65%;
        }
    }

    .highlighted {
        .single-job & {
            padding: 25px 40px;
        }
    }

    .video {
        .play {
            width: 95px;
            height: 95px;
        }
    }
}

@media (min-width: $phone) {
    .post-thumbnail,
    .has-drop-cap {
        &:before {
            right: 75%;
        }
    }

    .newsletter-highlighted {
        padding-left: 40px;
        padding-right: 40px;
    }

    .video {
        .play {
            margin: 0 25px 0 0;
        }
        p {
            display: block;
        }
    }
}

@media (min-width: $tablet) {
    h1,
    .home h1,
    .home h2,
    .h1 {
        font-size: 5.4rem;
    }

    .home .modal h2 {
        font-size: 2.8rem;
    }

    h2,
    .home h3 {
        font-size: 2.8rem;
    }

    h2 {
        &.big {
            font-size: 3rem;
        }
    }

    h3 {
        font-size: 2.4rem;
    }

    .post-thumbnail,
    .has-drop-cap {
        &:before {
            right: 80%;
        }
    }

    .cols-text {
        columns: 2;
        p {
            margin-top: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media (min-width: $desktop-small) {
    q {
        &:before {
            transform: translateX(calc(-100% - 5px));
        }
    }

    .post-thumbnail,
    .has-drop-cap {
        &:before {
            right: 86%;
        }
    }

    .img-shape {
        display: block;
        margin: 35px 0 0;
        shape-margin: 15px;
    }

    .alignright {
        float: right;
        margin-right: -25%;
    }

    .alignleft {
        float: left;
    }

    .wp-block-image {
        .alignright {
            float: right;
            margin-right: -25%;
            margin-left: 1em;
        }

        .alignleft {
            float: left;
            margin-right: 1em;
        }
    }

    .highlighted {
        display: block;
    }

    .book-highlighted,
    .newsletter-highlighted {
        h2 {
            margin: 20px 0 30px;
        }

        .line {
            top: 190px;
        }
    }

    .highlighted,
    .book-highlighted {
        position: relative;

        .line {
            width: 45px;
            height: 1px;
            position: absolute;
            left: -22px;
            background: $primary;
            transform: scaleX(0);
            transform-origin: 80% 0;
        }
    }

    .wrapper-type,
    .container.wrapper-type {
        margin-bottom: #{5 * $line-height};
    }

    .video {
        padding: 0 0 37%;
        margin: 0 $col * 2 110px;
    }
}

@media (min-width: $desktop) {
    .highlighted,
    .book-highlighted,
    .newsletter-highlighted {
        width: 240px;
        position: absolute;
        right: 0;
        margin: -38px 0 0;
    }

    .highlighted {
        .single-job & {
            padding: 40px;
            position: absolute;
            top: 200px;
            margin: 0;
            left: auto;
            bottom: auto;

            br {
                display: block;
            }
        }

        .line {
            display: block;
        }
    }

    .alignright {
        margin-right: -45%;
    }

    .wp-block-image {
        .alignright {
            margin-right: -45%;
        }
    }

    .cols-text {
        position: relative;
        img {
            display: block;
            position: absolute;
            max-width: 260px;
            right: -260px;
            bottom: -50px;
        }
    }
}

@media (min-width: $desktop-big) {
    .highlighted {
        font-size: 2.4rem;

        .line {
            top: 72px;
        }
    }

    .book-highlighted {
        .line {
            top: 208px;
        }
    }

    .highlighted,
    .book-highlighted,
    .newsletter-highlighted {
        width: 330px;
        padding: 60px 100px 60px 40px;
        margin-top: -60px;
    }
}
