@font-face{
    font-family: 'recoleta';
    src: url('../../fonts/Recoleta-Regular.woff2') format('woff2'),
         url('../../fonts/Recoleta-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'recoleta_bold';
    src: url('../../fonts/Recoleta-Bold.woff2') format('woff2'),
         url('../../fonts/Recoleta-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'ibmplex_italic';
    src: url('../../fonts/ibmplexsans-italic-webfont.woff2') format('woff2'),
         url('../../fonts/ibmplexsans-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ibmplex';
    src: url('../../fonts/ibmplexsans-regular-webfont.woff2') format('woff2'),
         url('../../fonts/ibmplexsans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ibmplex_semibold';
    src: url('../../fonts/ibmplexsans-semibold-webfont.woff2') format('woff2'),
         url('../../fonts/ibmplexsans-semibold-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ibmplex_semibolditalic';
    src: url('../../fonts/ibmplexsans-semibolditalic-webfont.woff2') format('woff2'),
         url('../../fonts/ibmplexsans-semibolditalic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}