.breadcrumbs {
    position: relative;
    font-size: 1.4rem;
    line-height: 1;
    font-family: $ibm;
    color: $primary;
    .error404 & {
        color: $white;
    }
    .header-page & {
        color: #fff;
    }
    &:before {
        content: '';
        height: 1px;
        position: absolute;
        top: 16px;
        left: -50vw;
        right: 100%;
        margin: 0 8px 0 0;
        background: currentColor;
    }
    a {
        border: 0;
        position: relative;
        margin: 0 40px 0 0;
        font-family: inherit;
        text-decoration: underline;
        color: inherit;
        &:after {
            content: '';
            width: 30px;
            height: 1px;
            position: absolute;
            bottom: 7px;
            margin: 0 4px 0 6px;
            background: currentColor;
        }
        &:hover,
        &:focus {
            text-decoration-color: transparent;
            .is-ie & {
                text-decoration: none;
            }
        }
    }
}
