/* Footer */

.footer{
    padding: 25px 0 50px;
    margin: 100px 0 0;
    font-size: 1.4rem;
    background: $text;
    color: $bg;
    > .container{
        position: relative;
        &:before{
            content: '';
            width: 1px;
            height: 52px;
            position: absolute;
            top: -78px;
            left: 15%;
            background: $primary;
        }
    }
}

.footer-title{
    display: block;
    font-family: $recoleta-bold;
    font-size: 2.2rem;
    + .link{
        font-size: 1.6rem;
    }
}

.footer-big{
    > p{
        margin-bottom: 4em;
    }
}

.footer-small{
    font-size: 1.1rem;
}

.footer-menu, .footer-social{
    display: flex;
    > li{
        &:before{
            content: none;
        }
    }
    a{
        color: $bg;
    }
}

.footer-social{
    margin: 0 0 3.5em;
    > li{
        padding: 0 30px 0 0;
        &:last-child{
            padding: 0;
        }
    }
    .icon{
        width: 16px;
        height: 16px;
    }
    + p{
        margin: 10px 0;
    }
    a{
        border: 0;
        &:hover, &:focus{
            transform: scale(0.9);
        }
    }
}

.footer-menu{
    margin: 0;
    > li{
        padding: 0 5px 0 0;
        margin: 0 4px 0 0;
        &:after{
            content: '';
            width: 1px;
            position: absolute;
            top: 5px;
            bottom: 2px;
            right: 0;
            background: currentColor;
        }
        &:last-child{
            padding: 0;
            margin: 0;
            &:after{
                content: none;
            }
        }
    }
    a{
        border-color: rgba(#fff, 0.5);
        font-family: $ibm;
        &:hover, &:focus{
            border-color: transparent;
        }
    }
}


@media (min-width: $desktop-small){
    .footer{
        > .container{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            &:before{
                top: -51px;
            }
        }
    }

    .footer-big{
        > p{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    .footer-title{
        font-size: 2.8rem;
        + .link{
            font-size: 1.8rem;
        }
    }

    .footer-small{
        font-size: 1.2rem;
        text-align: right;
    }

    .footer-social, .footer-menu{
        justify-content: flex-end;
    }
}
