.footer-page{
    padding: 10px 0 70px;
    margin: 7em 0 0;
    text-align: center;
    background: #fff;
    h2{
        font-size: 3.5rem;
    }
}


@media (min-width: $tablet){
    .footer-page{
        padding-left: 12.5%;
        padding-right: 12.5%;
        .container{
            padding: 0;
        }
        h2{
            font-size: 5.4rem;
        }
    }
}

@media (min-width: $desktop){
    .footer-page{
        padding-left: 25%;
        padding-right: 25%;
    }
}
