/* Forms */

input,
textarea,
select,
button {
    border: 0;
    transition: border-color $transition;

    &:focus {
        outline: 0;
    }
}

input,
textarea,
select {
    padding: 0 55px 0 20px;
    height: 2*$line-height;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #fff;

    &:focus {
        &:valid {
            border-color: $tertiary;
        }

        &:invalid {
            border-color: $secondary;
        }
    }

    .no-focus & {
        &:focus {
            &:valid {
                border-color: transparent;
            }

            &:invalid {
                border-color: transparent;
            }
        }
    }
}

input,
textarea {
    max-width: 100%;
    padding-right: 40px;
    line-height: 1;

    &:-webkit-autofill {
        box-shadow: 0 0 0 1000px #fff inset;
    }

    &.has-value:valid {
        background: #fff url(../../img/check.svg) no-repeat 95% 50% / 12px 8px;
    }

    .no-focus & {
        &.has-value:valid {
            background: $white;
        }

        &:invalid,
        &.wpcf7-not-valid,
        &.has-value.wpcf7-not-valid {
            // FF red borders
            box-shadow: none;
            background: $white;

            &:not(:focus) {
                border-color: transparent;
                color: $text;
            }
        }
    }

    //&:invalid,
    &.invalid,
    &.wpcf7-not-valid,
    &.has-value.wpcf7-not-valid {
        // FF red borders
        box-shadow: none;
        background: #fff url(../../img/wrong.svg) no-repeat 95% 50% / 2px 14px;

        &:not(:focus) {
            border-color: $secondary;
            color: $secondary;
        }
    }

    &:focus {
        background-image: none !important;
    }

    @include placeholder {
        font-family: $ibm-it;
        color: $text;
    }
}

input {
    width: 100%;
    max-width: 350px;
    font-family: $ibm;

    // hide the symbols of input search
    &[type=search] {

        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
            display: none;
        }
    }

    &[type=tel] {
        width: 230px;
    }

    &[type=email] {
        max-width: 500px;
    }

    &[type=radio], &[type=checkbox]{
        height: 16px;
        margin: 0 10px 0 0;
        + span{
            cursor: pointer;
        }
    }
}

textarea {
    width: 100%;
    max-width: 500px;
    height: 280px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-family: $ibm-it;
    line-height: $line-height;
    background-position: 95% 30px !important;
}

select {
    font-family: $ibm-it;

    // hide the arrow on edge + ie
    &::-ms-expand {
        display: none;
    }

    &.invalid{
        &:not(:focus) {
            border-color: $secondary;
        }
    }
}

label {
    font-family: $ibm-bold;

    > span {
        &:first-of-type {
            margin: 15px 0 0;
        }
    }

    i {
        color: $grey;
    }
}

.contact-form {
    div.wpcf7 {
        margin: 4em 0 0;
    }
}

.wpcf7-form {
    border-radius: 6px;

    &.sent {
        padding: 20px;
        background: #fff;

        p {
            display: none;
        }
    }

    .position,
    .subject {
        width: auto;
        position: relative;

        select {
            appearance: none;
        }

        &:after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            top: 4px;
            bottom: 0;
            right: 20px;
            margin: auto;
            border-style: solid;
            border-width: 8px 6px 0 6px;
            border-color: $primary transparent transparent transparent;
            pointer-events: none;
        }
    }

    .tel {
        width: auto;
    }
}

.wpcf7-form-control-wrap {
    display: inline-block;
    width: 100%;
    margin: 5px 0;
}

.wpcf7-submit, .hs-button{
    width: auto;
    padding: 15px 25px;
    font-family: $ibm-bold;
    line-height: 1;
    background: $primary !important;
    color: #fff;
}

span.wpcf7-not-valid-tip {
    margin: 5px 0 0;
    font-size: 1.4rem;
    color: $secondary;

    .js & {
        display: none;
    }
}

.wpcf7-not-valid+.wpcf7-not-valid-tip {
    .js & {
        display: block;
    }
}

div.wpcf7-response-output {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: $ibm-bold;

    span {
        display: block;
        font-family: $ibm;
    }
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing,
div.wpcf7-mail-sent-ng {
    font-size: 1.4rem;
    color: $secondary;
}

.contact-form .hs-form{
    margin: $line-height 0 0;
    fieldset{
        max-width: 100%;
        &.form-columns-2 .hs-form-field{
            width: auto;
            float: none;
        }
        .hs-form-field{
            margin: 0 0 $line-height;
        }
    }
    .input{
        display: inline-block;
        width: 100%;
        margin: 5px 0;
    }
    label{
        margin: 15px 0 0;
    }
    .hs-field-desc{
        display: none !important;
    }
    ul{
        margin: 0;
    }
    li{
        padding: 0;
        &:before{
            content: none;
        }
    }
    .hs-error-msg{
        font-family: $ibm;
        font-size: 1.4rem;
    }
    .hs_recaptcha{
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
}

.submitted-message{
    max-width: 520px;
    padding: 20px 60px;
    margin: 60px 0 0 0;
    border-radius: 6px;
    background: #ffff;
    strong, a{
        display: block;
    }
}


@media (min-width: $phone) {

    .align-items-form {
        label {
            display: flex;
            align-items: flex-start;

            br {
                display: none;
            }

            >span {
                &:first-of-type {
                    width: 14%;
                    min-width: 14%;
                    text-align: right;
                }
            }

            i {
                margin: 15px 0 0 20px;
            }
        }

        .wpcf7-submit,
        div.wpcf7-validation-errors,
        div.wpcf7-acceptance-missing,
        div.wpcf7-mail-sent-ng {
            margin: 0 0 0 calc(14% + 20px);
        }
    }

    .wpcf7-form {
        &.sent {
            padding: 5%;
        }
    }

    .wpcf7-form-control-wrap {
        margin: 0 0 0 20px;
    }
}

@media (min-width: $tablet) {
    .wpcf7-form {
        &.sent {
            width: 86%;
        }
    }
}

@media (min-width: $desktop-small) {
    .wpcf7-form {
        &.sent {
            padding: 10%;
            margin: 0 0 0 -10%;
        }
    }

    .submitted-message{
        margin-left: -60px;
    }
}