/* Grid */

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1350px;
    padding: 0 $gutter;
    margin: 0 auto;
}


@media (min-width: $phone-small) {
    .container {
        padding: 0 $gutter*2;
    }
}

@media (min-width: $desktop-small) {

    .container-tiny,
    .container-small,
    .container-xsmall {
        margin: 0 $col;
    }

    .container-medium {
        margin: 0 0 0 $col;
    }
}

@media (min-width: $desktop) {
    .container-tiny {
        margin: 0 $col*3 0 $col;
    }

    .container-xsmall {
        margin: 0 $col*2;
    }
}