/* Grid */

.container{
    max-width: 1350px;
    padding: 0 $gutter*2;
    margin: 0 auto;
}


@media (min-width: $desktop-small){
    .container-small{
        margin: 0 $col;
    }
}

@media (min-width: $desktop){
    .container-small{
        margin: 0 $col*3 0 $col;
    }
}
