.header-page {
    //min-height: 90vh;
    padding: 180px 0 7vh;
    position: relative;
    margin: -248px 0 0;
    overflow: hidden;
    background: $primary;

    h1 {
        max-width: 100%;
        margin-bottom: 0;

        span {
            &.white {
                color: #fff;
            }
        }
    }

    a {
        color: inherit;
    }

    img {
        display: none;
    }
}


@media (min-width: $phone) {
    .header-page {
        h1 {
            span {
                display: block;
            }
        }
    }
}

@media (min-width: $tablet) {
    .header-page {
        p {
            width: $col*10;
        }
    }
}

@media (min-width: $desktop) {
    .header-page {
        h1{
            .page-template-solution &{
                max-width: 55%;
            }
        }

        p {
            width: $col*7;
        }

        img {
            display: block;
            max-width: 25%;
            position: absolute;
            bottom: 0;
            right: 0;

            .page-template-services &{
                max-width: 40%;
                top: 0;
                bottom: auto;
            }

            .page-template-about & {
                right: 5%;
            }

            .page-template-solution & {
                max-width: 30%;
                right: 5%;
            }
        }
    }
}

@media (min-width: $desktop-big) {
    .header-page {
        p {
            width: $col*5;
        }

        img {
            max-width: 43%;

            .page-template-about & {
                max-width: 22%;
            }

            .page-template-customers & {
                max-width: 25%;
            }
        }
    }
}