/* Header */

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 130px;
    z-index: 15;
    font-size: 1.6rem;
}

.wrapper-logo {
    flex: 0 0 auto;
    width: calc(#{3 * $col} - 20px);
}

.logo {
    display: block;
    position: relative;
    height: 31px;
    margin: 0 60px 0 0;
    border: 0;

    &::before {
        content: none;
    }

    > svg {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: auto;
        height: 100%;
        path {
            .home & {
                fill: #fff;
            }
        }
    }

    &.logo-header {
        width: 147px;

        .wordmark {
            transform: translate3d(0, 5px, 0);
        }
    }

    &.logo-menu {
        position: absolute;
        top: 40px;
        left: 27px;
        width: 31px;
        margin: 0 0 30px;

        .wordmark,
        .baseline {
            display: none;
        }
    }
}

.burger {
    width: 22px;
    height: 14px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
    }
}

.burger-icon,
.burger-icon:before,
.burger-icon:after {
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    background: $text;
    .home & {
        background: #fff;
    }
}

.burger-icon {
    top: 0;

    &:before,
    &:after {
        content: '';
    }

    &:before {
        top: 6px;
    }

    &:after {
        top: 12px;
    }
}

.nav {
    width: 95%;
    padding: $gutter * 2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow-y: auto;
    text-align: center;
    background: #fff;
    box-shadow: -20px 10px 40px rgba(#000, 0.1);
    transform: translate3d(120%, 0, 0);
    transition: transform 0.3s ease-in-out;

    .menu-open & {
        transform: translate3d(0, 0, 0);
    }

    .btn-contact {
        min-width: 200px;
    }
}

.close-menu {
    width: 24px;
    height: 22px;
    position: absolute;
    top: 44px;
    right: $gutter * 2;

    &:before,
    &:after {
        content: '';
        width: 2px;
        height: 22px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: $text;
        transform-origin: 50% 50%;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}

.menu-main {
    margin: 6vh 0 4vh;

    > li {
        padding: 0;

        &:before {
            content: none;
        }

        &:after {
            content: '';
            width: 200px;
            border-bottom: 1px solid rgba($grey, 0.15);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        &:last-child {
            &:after {
                content: none;
            }
        }

        &.open {
            > a {
                font-family: $ibm-bold;
            }
            .icon {
                transform: rotate(0deg);
            }
        }

        > a {
            display: inline-block;
            min-width: 200px;
            padding: $gutter 10px;
            position: relative;
            font-family: $ibm;
            text-decoration: none;
            color: $text;
        }

        .icon {
            width: 10px;
            height: 10px;
            margin: 0 0 0 5px;
            transform: rotate(-90deg);
            transition: $transition;
        }
    }
}

.submenu {
    height: 0;
    line-height: 1.3;
    opacity: 0;
    visibility: hidden;
    transition: none;
    .open & {
        height: auto;
        visibility: visible;
        opacity: 1;
        transition: opacity $transition, 0.3s visibility 0s;
    }
    ul {
        padding: 0;
        margin: 0 0 20px;
    }
    li {
        padding: 0;
        &:before {
            content: none;
        }
        a {
            font-family: $ibm;
            font-size: 1.4rem;
            line-height: 1;
            color: $text;
            text-decoration: none;
        }
        .menu-subtitle {
            font-family: $ibm-bold;
        }
    }
}
.menu-cols {
    padding: 10px 0 20px;
}
.menu-title {
    display: block;
    margin: 0 0 10px;
    font-family: $recoleta-bold;
    font-size: 1.6rem;
}
.menu-text {
    margin: 20px 0;
    font-family: $ibm-it;
    font-size: 1.4rem;
}
.menu-img {
    height: 100px;
    max-width: 300px;
    margin: 0 auto;
    background-size: cover;
    background-position: 50% 50%;
}

.lang-switcher {
    display: flex;
    justify-content: center;
    margin: $line-height 0 0;
    .switcher-button {
        font-family: $recoleta-bold;
        pointer-events: none;
        &::after {
            content: '/';
            margin: 0 2px;
        }
    }
    .lang-list {
        margin: 0;
        font-size: 1.5rem;
    }
    .language {
        display: inline;
        padding: 0;
        &::before {
            content: none;
        }
        &::after {
            content: '/';
            margin: 0 2px;
        }
        &:last-child {
            &::after {
                content: none;
            }
        }
        > a {
            text-decoration-color: transparent;
            font-family: $ibm;
            color: $text;
            &:hover,
            &:focus {
                text-decoration-color: currentColor;
            }
        }
    }
}

@media (min-width: $desktop) {
    .header {
        margin-top: 50px;
    }

    .burger,
    .logo-menu,
    .close-menu {
        display: none;
    }

    .logo {
        &.logo-header {
            width: 208px;
            height: 43px;

            .wordmark {
                transform: none;
            }
        }
    }

    .nav {
        display: flex;
        width: 100%;
        padding: 0;
        position: static;
        justify-content: space-between;
        align-items: center;
        overflow-y: visible;
        text-align: left;
        background: none;
        box-shadow: none;
        transform: none;

        .btn-contact {
            min-width: 0;
            margin: 0 20px 0 0;
            flex-shrink: 0;

            .home &,
            .page-template-services &,
            .page-template-about &,
            .page-template-customers &,
            .page-template-solution &,
            .page-template-mission &,
            .error404 & {
                color: $text;

                &:after {
                    background: #fff;
                }
            }
        }
    }

    .menu-main {
        display: flex;
        width: 100%;
        position: relative;
        align-items: center;
        justify-content: space-around;
        margin: 0 2% 0 0;

        > li {
            position: static;
            &:after {
                content: none;
            }
            &:hover {
                .submenu {
                    opacity: 1;
                    visibility: visible;
                    transform: translate3d(0, 0, 0);
                }
                &.has-submenu {
                    > a {
                        &:after {
                            transform: scaleY(1);
                        }
                    }
                }
                > a {
                    &:before {
                        transform: scaleY(1);
                    }
                }
            }

            > a {
                min-width: 0;

                &:before,
                &:after {
                    content: '';
                    width: 1px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    background: $primary;
                    transform-origin: 0 0;
                    transform: scaleY(0);
                    transition: $transition;

                    .home &,
                    .page-template-services &,
                    .page-template-about &,
                    .page-template-customers &,
                    .page-template-solution &,
                    .page-template-mission &,
                    .error404 & {
                        background: #fff;
                    }
                }

                &:before {
                    height: 60px;
                    top: -115px;
                }

                &:after {
                    height: 25px;
                    bottom: -15px;
                }

                &:hover,
                &:focus {
                    &:before {
                        transform: scaleY(1);
                    }
                }

                &.active {
                    font-family: $ibm-bold;

                    &:before,
                    &:after {
                        transform: scaleY(1);
                    }
                }

                .home & {
                    color: #fff;
                }
            }

            .icon {
                transform: none;
            }
        }

        /* .current-menu-item,
        .current_page_parent {
            > a {
                font-family: $ibm-bold;

                &:before,
                &:after {
                    transform: scaleY(1);
                }
            }
        }*/
    }

    .submenu {
        height: auto;
        position: absolute;
        top: 100%;
        left: -105px;
        right: -105px;
        transform: translate3d(0, -20px, 0);
        transition: transform $transition, opacity $transition,
            0.3s visibility 0s;
        ul {
            margin: 0 0 30px;
            &:last-child {
                margin: 0;
            }
        }
        a:not(.btn) {
            &:hover,
            &:focus {
                color: $primary;
            }
            &:before {
                top: 0;
                bottom: 0;
            }
        }
    }
    .menu-cols {
        display: flex;
        padding: 10px;
        margin: 10px 0 0;
        background: #fff;
        .col {
            padding: 25px;
            &:nth-child(1) {
                width: 40%;
            }
            &:nth-child(2) {
                width: 25%;
            }
            &:nth-child(3) {
                width: 35%;
            }
        }
    }
    .menu-title {
        margin: 0 0 20px;
    }
    .menu-img {
        max-width: 100%;
    }

    .lang-switcher {
        margin: 0;
        position: relative;
        .switcher-button {
            padding-right: 15px;
            position: relative;
            pointer-events: all;
            &::after {
                content: '';
                border-style: solid;
                border-width: 4px 3px 0 3px;
                border-color: currentColor transparent transparent transparent;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .lang-list {
            position: absolute;
            top: 100%;
            left: 0;
            transform: translate3d(0, -10px, 0);
            opacity: 0;
            visibility: hidden;
            transition: transition(
                (
                    transform: '#{$short-duration}',
                    opacity: '#{$short-duration}',
                    visibility: (
                        '0s',
                        '#{$short-duration}'
                    )
                ),
                $ease-in-timing-function
            );
            &.activated {
                transform: translate3d(0, 0, 0);
                opacity: 1;
                visibility: visible;
                transition: transition(
                    (
                        transform: '#{$short-duration}',
                        opacity: '#{$short-duration}',
                        visibility: '0s'
                    ),
                    $ease-out-timing-function
                );
            }
        }
        .language {
            display: block;
            &::after {
                content: none;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        a,
        button {
            .home & {
                color: #fff;
            }
        }
    }
}

@media (min-width: $desktop-big) {
    .nav {
        .btn-contact {
            margin-right: 60px;
        }
    }
}
