.header-page {
    //min-height: 90vh;
    padding: 180px 0 0;
    position: relative;
    margin: -248px 0 0;
    line-height: 1;
    text-align: right;
    overflow: hidden;
    background: $primary;

    .page-template-services &{
        padding-bottom: 7vh;
        img{
            display: none;
        }
    }

    .container{
        line-height: $line-height;
        text-align: left;
    }

    h1 {
        max-width: 100%;
        margin-bottom: 0;

        span {
            &.white {
                color: #fff;
            }
        }
    }

    a {
        color: inherit;
    }

    img {
        max-width: 300px;
        margin: 0 10% 0 0;
    }
}


@media (min-width: $phone) {
    .header-page {
        h1 {
            span {
                display: block;
            }
        }
    }
}

@media (min-width: $tablet) {
    .header-page {
        p {
            width: $col*10;
        }
    }
}

@media (min-width: $desktop-small) {
    .header-page {
        padding-bottom: 7vh;
        h1{
            .page-template-solution &{
                max-width: 55%;
            }

            .page-template-mission &{
                max-width: 75%;
            }
        }

        p {
            width: $col*7;
        }

        img {
            max-width: 25%;
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0;

            .page-template-about & {
                right: 5%;
            }

            .page-template-solution &,  .page-template-mission & {
                max-width: 30%;
                right: 5%;
            }
        }
    }
}

@media (min-width: $desktop) {
    .header-page {
        img {
            .page-template-services &{
                display: block;
                max-width: 40%;
                top: 0;
                bottom: auto;
            }
        }
    }
}

@media (min-width: $desktop-big) {
    .header-page {
        p {
            width: $col*5;
        }

        img {
            max-width: 43%;

            .page-template-about & {
                max-width: 22%;
                right: 10%;
            }

            .page-template-customers & {
                max-width: 25%;
                right: 5%;
            }

            .page-template-mission &{
                max-width: 25%;
            }
        }
    }
}