.wrapper-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: transition((opacity: '#{$short-duration}', visibility: '#{$short-duration}'), $ease-out-timing-function);

    &.on {
        opacity: 1;
        visibility: visible;
        transition: transition((opacity: '#{$short-duration}', visibility: '0s'), $ease-in-timing-function);
    }
}

.modal-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: $text;
    opacity: 0.5;
}

.modal {
    position: relative;
    width: 90%;
    max-width: 488px;
    padding: #{$line-height} 30px;
    background: $white;
}

.btn-close-modal {
    position: absolute;
    top: -11px;
    right: -11px;
}

@media (min-width: $tablet) {
    .modal {
        padding: #{2 * $line-height} 50px;
    }
}