.timeline-wrapper{
    h2{
        margin-left: 20%;
    }
}

.timeline{
    margin: 0;
    > li{
        display: flex;
        padding: 0;
        &:before{
            content: none;
        }
    }
    time{
        width: 20%;
        min-width: 20%;
    }
}
