.timeline-wrapper {
    h2 {
        margin-left: 20%;
    }
}

.timeline {
    padding: 20px 0 0;
    margin: 0;

    >li {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 0 0 2*$line-height;

        &:before {
            content: none;
        }
    }

    time {
        display: flex;
        align-self: flex-start;
        padding: 2px $gutter 0 0;
        font-family: $recoleta-bold;

        &:after {
            content: '';
            display: block;
            width: 65px;
            height: 1px;
            margin: 10px 0 0 10px;
            background: $primary;
        }
    }

    p {
        margin: 0;
    }

    .lottie {
        flex: 0 0 auto;
        width: 100px;
        height: 100px;
        margin: $line-height 0 0;
        overflow: hidden;
    }
}

@media (min-width: $tablet) {
    .timeline {
        >li {
            flex-direction: row;
            padding-bottom: 3*$line-height;
        }

        time {
            width: 20%;
            min-width: 20%;

            &:after {
                margin-left: auto;
                margin-right: auto;
            }
        }

        .lottie {
            align-self: center;
            margin: 0 0 0 110px;
        }
    }
}