.error404 {
    .title {
        width: 100%;
        padding: 0 $gutter 0 0;
        margin: $line-height auto $line-height 0;
        color: $white;
    }
    .title-part {
        display: inline;
        margin: 0;
        color: $black;
    }
    .error-404-image-wrapper {
        display: none;
    }
    .content {
        width: 100%;
        padding: 0 $gutter $line-height * 4 0;
        margin: 0;
        a {
            color: $white;
        }
        > p {
            margin: 0;
        }
    }
}

@media (min-width: $phone) {
    .error404 {
        .title-part {
            display: block;
        }
    }
}

@media (min-width: $tablet) {
    .error404 {
        .title {
            width: percentage(7/12);
        }
        .error-404-image-container {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
        }
        .error-404-image-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            max-width: $container;
            margin: 0 auto;
        }
        .error-404-image {
            width: percentage(9/24);
        }
        .content {
            width: percentage(6/12);
        }
    }
}
