.blog-title {
    margin-bottom: 0;

    + p:not(.post-meta) {
        width: 50%;
        padding: 0 $gutter 0 0;
        color: $grey;
    }
}

.blog-categories {
    position: relative;
    width: 100%;
    max-width: 366px;
    display: inline-flex;
    justify-content: flex-start;
    height: 2 * $line-height;
    margin: $line-height 0;
    border-radius: 4px;
    background: $white;
    z-index: 2;

    &.off {
        .blog-cats-list {
            opacity: 0;
            visibility: hidden;
            transition: transition(
                (
                    opacity: '#{$short-duration}',
                    visibility: '#{$short-duration}'
                ),
                $ease-out-timing-function
            );
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: 25px;
        right: 20px;
        border-style: solid;
        border-width: 8px 6px 0 6px;
        border-color: $primary transparent transparent transparent;
        pointer-events: none;
    }
}

.category-select-button {
    width: 100%;
    padding: 0 #{$line-height * 2} 0 20px;
    font-family: $ibm-it;
    text-align: left;
}

.blog-cats-list {
    position: absolute;
    top: calc(100% - 4px);
    left: 0;
    right: 0;
    margin: 0;
    border-top: 4px solid $white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: $white;
    opacity: 1;
    visibility: visible;
    transition: transition(
        (
            opacity: '#{$short-duration}',
            visibility: '0s'
        ),
        $ease-in-timing-function
    );

    > li {
        padding: 0;

        &::before {
            content: none;
        }
    }

    a {
        display: block;
        padding: #{$line-height/2} #{$line-height * 2} #{$line-height/2} 20px;
        font-family: $ibm;
        color: $text;
        text-decoration: none;
        transition: transition(
            (
                color: (
                    '#{$short-duration}'
                )
            ),
            $ease-in-out-timing-function
        );

        &:hover {
            color: $primary;
        }
    }
}

.wrapper-blog-list {
    position: relative;
    padding: #{$line-height * 2} 0 #{$line-height * 7};

    .pagination {
        position: absolute;
        bottom: #{$line-height * 5};
        left: 0;
        right: 0;
    }
}

.blog-list {
    margin: 0;

    > li {
        display: inline-block;
        width: 30%;

        &:before {
            content: none;
        }
    }

    .book {
        padding: 35px 30px 30px;

        h2 {
            margin: 20px 0 0;
        }
    }
}

.post {
    padding: 0 0 $line-height;
    border-bottom: 1px solid $grey;
}

.post-main-cat {
    display: inline-block;
    margin: 10px 0 25px;
}

.post-img,
.post-logo {
    display: block;
    height: 150px;
    margin: 0 0 1.2em;
    background-position: 50% 50%;
}

.post-img {
    background-size: cover;
}

.post-logo {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 60% auto;
}

.post-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 25px;
}

.logo-link {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10px;
    font-family: $ibm;
    font-size: 1.4rem;
    span {
        line-height: 1;
    }
    .img {
        margin-right: 10px;
        &.author-img {
            width: 21px;
            height: 21px;
            border-radius: 50%;
            overflow: hidden;
        }
    }
}

.related-date {
    font-family: $ibm;
    font-size: 1.4rem;
    color: $text;
}

.post-content-link {
    color: $text;
    text-decoration: none;

    &:hover,
    &:focus {
        .related-title {
            color: $primary;
        }
    }

    p {
        margin: 0;
        font-family: $ibm;
    }
}

.related-title {
    margin: 0;
    font-family: $recoleta-bold;
    font-size: 2.4rem;
    color: $text;
    transition: color $transition;
    > a {
        font-family: inherit;
        color: inherit;
    }
}

.post-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;

    .rt-reading-time {
        &::before {
            margin-right: 10px;
        }
    }
}

.rt-reading-time,
.post-meta .cats {
    display: flex;
    align-items: center;
    position: relative;

    &:before {
        content: '';
        width: 3px;
        height: 3px;
        margin-right: 15px;
        border-radius: 50%;
        background: $primary;
    }
}

.cats {
    a {
        font-family: $ibm;
    }
}

.book {
    background: #fff;

    p {
        margin: 5px 0 30px;
        font-size: 1.4rem;
        line-height: 2;
        color: $grey;
    }
}

.post-meta {
    display: flex;
    margin: 0 0 5em;

    .rt-reading-time,
    .cats {
        margin: 0 0 0 13px;
    }
}

.post-author {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    font-family: $ibm;

    .img {
        display: block;
        width: 42px;
        height: 42px;
        margin-right: 15px;
        border-radius: 50%;
        overflow: hidden;
    }
}

.newsletter-in-list {
    padding-left: 0;
}

.wrapper-cat-search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .blog-categories {
        margin-right: 10px;
    }
}

.search-form {
    width: 100%;
    max-width: 340px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;

    &.on {
        .content-search {
            .js & {
                transform: translate3d(0, 0, 0);
            }
        }
    }
}

.content-search {
    .js & {
        transform: translate3d(calc(-100% + #{$line-height * 2}), 0, 0);
        transition: transform $transition;
    }
}

.btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 2 * $line-height;
    border-radius: 4px;

    .icon {
        width: 16px;
        height: 16px;
        fill: $grey;
    }
}

.post-thumbnail {
    > div {
        height: 40vh;
        max-height: 150px;
        background-size: cover;
        background-position: 50% 50%;
    }
}

@media (min-width: $phone-small) {
    .post-thumbnail {
        > div {
            max-height: 200px;
        }
    }
}

@media (min-width: $phone) {
    .post-thumbnail {
        > div {
            max-height: 250px;
        }
    }
}

@media (min-width: $tablet) {
    .post-thumbnail {
        > div {
            max-height: 300px;
        }
    }
}

@media (min-width: $desktop-small) {
    .post-thumbnail {
        margin: 0 0 0 $col;
    }
}

@media (min-width: $desktop) {
    .post-thumbnail {
        > div {
            height: 50vh;
            max-height: 380px;
        }
    }
}

@media (min-width: $desktop-big) {
    .post-thumbnail {
        > div {
            height: 60vh;
            max-height: 420px;
        }
    }
}
