.page-template-contact{
    h1{
        margin-bottom: 0;
    }
}

.contact-content{
    display: flex;
    justify-content: space-between;
}

.contact-form{
    width: 52.5%;
}

.contact-infos{
    width: 36%;
    margin: 8.6em 4% 0 0;
    h2, p{
        margin: 0;
    }
    p + h2{
        margin-top: 60px;
    }
    > div{
        margin: 0 0 $gutter;
        overflow: hidden;
        border-radius: 6px;
        background: #fff;
        &:first-child{
            padding: 60px;
        }
        &:last-child{
            background: $primary;
            > div{
                padding: 60px;
            }
            a{
                color: #fff;
            }
        }
        .form-validated &{
            background: none;
            &:last-child{
                display: none;
            }
        }
    }
}
