.page-template-contact {
    h1 {
        margin-bottom: 0;
    }
}

.contact-infos {
    margin: 5em 0 0;

    h2,
    p {
        margin: 0;
    }

    p+h2 {
        margin-top: 60px;
    }

    >div {
        margin: 0 0 $gutter;
        overflow: hidden;
        border-radius: 6px;
        background: #fff;

        &:first-child {
            padding: 40px;
        }

        &:last-child {
            background: $primary;

            >div {
                padding: 40px;
            }

            a {
                color: #fff;
            }
        }

        .form-validated & {
            background: none;

            &:last-child {
                display: none;
            }
        }
    }

    img {
        width: 100%;
    }
}

.contact-content {
    margin: 0 0 #{$line-height*4};
}


@media (min-width: $tablet) {
    .contact-infos {
        display: flex;
        justify-content: space-between;

        >div {
            width: 48%;
        }
    }
}

@media (min-width: $desktop-small) {
    .contact-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: #{$line-height*6};
    }

    .contact-form {
        width: 60%;
    }

    .contact-infos {
        display: block;
        width: 36%;
        margin: 8.9em 0 0;

        >div {
            width: 100%;
        }
    }
}

@media (min-width: $desktop) {
    .contact-form {
        width: 55%;
    }

    .contact-infos {
        >div {
            &:first-child {
                padding: 60px;
            }

            &:last-child {
                >div {
                    padding: 60px;
                }
            }
        }
    }
}

@media (min-width: $desktop-big) {
    .contact-form {
        width: 52.5%;
    }

    .contact-infos {
        margin-left: 4%;
    }
}