/* Home specific style */

.home{
    h2{
        margin: 0;
    }
    h3{
        margin: 0;
        color: $text;
    }
}

.home-united, .home-solution, .home-refs{
    padding: 110px 0;
}

.home-united{
    > .container{
        display: flex;
        align-items: flex-end;
    }
    .anim{
        width: 50%;
    }
    .text{
        width: 50%;
    }
    h1{
        margin: 0;
    }
    p{
        margin-left: 27%;
        &:first-child{
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.anim-united{
    width: 460px;
    height: 460px;
    position: relative;
    margin: 0 auto;
    font-family: $ibm-bold;
    font-size: 1.6rem;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 27px 15px rgba(#000, 0.02);
    background: rgba(#F9F6F2, 0.7);
    &:before, &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-radius: 50%;
        box-shadow: 0 27px 15px rgba(#000, 0.02);
    }
    &:before{
        width: 300px;
        height: 300px;
        background: #FBFAF8;
    }
    &:after{
        width: 120px;
        height: 120px;
        background: #FBFAF8;
    }
    .keyword{
        display: flex;
        width: 130px;
        height: 130px;
        padding: 25px;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 50%;
        box-shadow: 0 10px 15px rgba(#000, 0.05);
        &:first-of-type, &:last-of-type{
            color: #fff;
            background: $grey;
        }
        &:nth-of-type(2), &:nth-of-type(3){
            background: $tertiary;
        }
        &:nth-of-type(4), &:nth-of-type(7){
            background: $primary;
        }
        &:nth-of-type(5), &:nth-of-type(6){
            background: $secondary;
        }
        &:first-of-type{
            top: -175px;
            left: -155px;
        }
        &:nth-of-type(2){
            top: -95px;
            left: 45%;
        }
        &:nth-of-type(3){
            top: 40%;
            left: -300px;
        }
        &:nth-of-type(4){
            top: 155px;
            left: -75px;
        }
        &:nth-of-type(5){
            top: 230px;
            right: -100px;
        }
        &:nth-of-type(6){
            top: 90%;
            left: -190px;
        }
        &:nth-of-type(7){
            top: 97%;
            left: 90%;
        }
        &:nth-of-type(8){
            top: 110%;
            left: 35%;
        }
    }
}

.home-solution{
    background: #fff;
    > .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .text{
        width: 50%;
    }
    p{
        margin: 0;
    }
}

.benefits{
    width: 42%;
    margin: 0 5% 0 0;
    ul{
        margin: 0;
    }
    li{
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 2.8em;
        &:before{
            content: none;
        }
        &:last-child{
            margin: 0;
        }
    }
    .anim{
        width: 110px;
        min-width: 110px;
        height: 110px;
        margin: 0 $gutter*2 0 0;
        border-radius: 50%;
        background: $primary;
        box-shadow: 0 10px 15px rgba(#000, 0.05);
    }
}

.home-refs{
    padding-bottom: 0;
    text-align: center;
}

.home-ref-list{
    display: flex;
    justify-content: space-around;
    margin: 3em 0;
    flex-wrap: wrap;
    > li{
        width: 14%;
        min-width: 185px;
        padding: 0 0 10px;
        &:before{
            content: none;
        }
    }
    a{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 165px;
        height: 165px;
        border-radius: 50%;
        background: #fff;
    }
    img{
        max-width: 80%;
    }
}


@media (min-width: $tablet){
    h1, .home h1, .home h2{
        font-size: 5rem;
    }
}

@media (min-width: $desktop){
    .home-united{
        .anim{
            width: 55%;
        }
        .text{
            width: 40%;
        }
    }

    .home-solution{
        .text{
            width: 42%;
        }
    }
}

@media (min-width: $desktop-big){
    .home-united{
        .text{
            width: 35%;
            margin: 0 0 0 4%;
        }
    }

    .home-solution{
        .text{
            width: 36%;
        }
    }

    .benefits{
        margin: 0 1% 0 0;
    }
}
