.mission{
    position: relative;
    counter-reset: mission-counter;

    h3{
        color: inherit;
    }
}

.mission-section{
    padding-top: 60px;
    margin: 0 0 8em;
    counter-increment: mission-counter;

    h2{
        padding: 0 0 0 3.75em;
        position: relative;
        &:before {
            content: '#0' counter(mission-counter);
            position: absolute;
            top: -4px;
            left: 0;
            font-size: 1.43em;
            color: $primary;
        }
        &:after{
            content: '';
            position: absolute;
            height: 5em;
            top: -2.1em;
            left: -50vw;
            right: 85%;
            z-index: -1;
            background: #fff;
        }
    }
}

.examples{
    margin: $line-height*3 0 $line-height*2;
}

.example{
    padding: 30px 35px;
    margin: 0 0 $line-height;
    background: $secondary;

    &:nth-of-type(2){
        background: $primary;
    }

    &:nth-of-type(3){
        background: $tertiary;
    }

    h3{
        max-width: 90%;
        margin: 0;
    }

    p{
        margin: 0;
    }
}

.mission-title{
    margin-top: $line-height*2;
    font-family: $recoleta-bold;
    font-size: 2.4rem;
}

.mission-links{
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;
}

.mission-link{
    width: calc(100% - #{$gutter});
    padding: 40px 30px 55px; 
    margin: 0 $gutter/2 $gutter;
    font-family: inherit;
    background: #fff;
    color: inherit;
    text-decoration: none;
    .sup-title{
        color: $grey;
    }
    .title{
        display: block;
        margin: 0 0 25px;
        font-size: 2rem;
        font-family: $recoleta-bold;
    }
    .link{
        font-family: $ibm-bold;
        color: $primary;
    }
}

.mission-cols{
    margin: $line-height*2 0 0;
    > div{
        margin: 0 0 $line-height;
    }
    h3, p{
        margin: 0;
    }
}

.mission-numbers{
    margin: $line-height 0;
    .mission-title{
        line-height: $line-height*2;
        border-bottom: 1px solid rgba($grey, 0.5);
    }
}
.mission-nb{
    .ref{
        display: flex;
        min-width: 165px;
        margin: 0 auto 10px;
    }
}

.mission-articles{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: $line-height*3 0 0;
}

.mission-article{
    margin: 0 0 $line-height*2;
    .meta{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: #{$line-height - 5px} 0 $line-height;
        font-size: 1.4rem;
    }
    h3{
        margin-bottom: 0;
        a{
            font-family: inherit;
            color: inherit;
            text-decoration: none;
        }
    }
    p{
        margin: 0;
    }
}

.mission-united{
    margin: $line-height*2 0 0;
}
.schema2{
    max-width: 100%;
}

.mission-nav{
    height: 156px;
    position: absolute;
    top: calc(50vh - 78px);
    right: $gutter/2;
    margin: 0;
    font-size: 0;
    > li{
        padding: 0;
        &:before{
            content: none;
        }
    }
    a{
        display: block;
        width: 14px;
        height: 14px;
        margin: 3px 0;
        z-index: 1;
        transition: none;
        &:before, &:after{
            content: '';
            position: absolute;
            display: block;
            border-radius: 50%;
            transition: 0.2s ease-out;
        }
        &:before {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 1px solid $text;
            transform: scale(0);
            z-index: -1;
        }

        &:after {
            top: 3px;
            left: 3px;
            width: 8px;
            height: 8px;
            background: currentColor;
        }

        &:hover, &:focus{
            color: $text;
        }

        &.active {
            color: $text;
            &:before {
                transform: scale(1);
            }
        }
    }
}


@media (min-width: $phone){
    .example{
        padding-bottom: 0;
        .img-shape{
            display: block;
            width: 200px;
            float: right;
            margin: 0 -60px 0 0;
            shape-margin: 50px;
        }
    }

    .mission-link{
        width: calc(50% - #{$gutter});
    }

    .mission-nb{
        display: flex;
        justify-content: space-between;
        margin: 0 $gutter*-1;
    }
}

@media (min-width: $tablet){
    .example{
        h3{
            font-size: 2rem;
        }
        .img-shape{
            margin-top: -60px;
        }
    }

    .mission-link{
        width: calc(33.33% - #{$gutter});
    }

    .mission-cols{
        display: flex;
        justify-content: space-between;
        > div{
            width: 28%;
        }
    }

    .mission-nb{
        width: 80%;
        margin: 0;
        .ref{
            display: inline-flex;
        }
    }

    .mission-article{
        width: 40%;
    }

    .mission-schema-wrapper{
        display: flex;
        max-width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        > div{
            width: 45%;
        }
    }
}

@media (min-width: $desktop-small){
    .examples{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-left: -$gutter;
        margin-right: -$gutter;
    }

    .example{
        width: 32%;
        margin: 0;
        h3{
            max-width: 95%;
        }
        .img-shape{
            shape-margin: 15px;
            margin-top: 140px;
        }
    }

    .mission-links{
        margin: 0 $gutter*-3 0 $gutter*-2;
    }

    .mission-link{
        .title{
            font-size: 2.4rem;
        }
    }

    .mission-steps{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        margin: $line-height*4 0 0;
        font-size: 1.35rem;
        line-height: 1.5;
        text-align: center;
        &:before, &:after{
            content: '';
            position: absolute;
            border: 1px dashed #55c4da;
        }
        &:before{
            height: 50%;
            top: -5px;
            left: 20%;
            right: -3%;
            border-left-width: 0;
            border-top-right-radius: 75px;
            border-bottom-right-radius: 75px;
        }
        &:after{
            width: 20%;
            height: $line-height*3;
            top: -$line-height*3;
            left: -2px;
            margin: -4px 0 0;
            border-top-width: 0;
            border-right-width: 0;
            border-bottom-left-radius: 15px;
        }
        > li{
            width: 19%;
            margin: 5px 0 45px;
            padding: 0;
            &:before{
                content: '0' counter(ol-counter);
                position: static;
                display: block;
                margin: 0 auto;
                font-size: 2rem;
            }
            &:after{
                content: '';
                width: 10px;
                height: 10px;
                position: absolute;
                top: -15px;
                left: 0;
                right: 0;
                margin: auto;
                border-radius: 50%;
                background: $primary;
            }
            &:nth-child(6){
                margin-right: 10%;
                order: 9;
            }
            &:nth-child(7){
                order: 8;
            }
            &:nth-child(8){
                order: 7;
            }
            &:nth-child(9){
                margin-left: 10%;
            }
        }
    }

    .mission-article{
        width: 28.5%;
    }
}

@media (min-width: $desktop){
    .examples{
        margin-left: 0;
        margin-right: 0;
    }

    .example{
        width: 30%;
        .img-shape{
            margin-top: 130px;
        }
    }

    .mission-cols{
        > div{
            width: 25.5%;
        }
    }

    .mission-numbers{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .mission-title{
            width: 34%;
        }
    }

    .mission-nb{
        width: 62%;
    }

    .mission-steps{
        margin-left: 3%;
        margin-right: 3%;
    }

    .mission-article{
        width: 25.5%;
    }

    .mission-schema-text{
        width: 44%;
    }

    .mission-united{
        margin: $line-height*4 0 $line-height*3;
    }

    .mission-schema-wrapper{
        display: block;
        > div{
            width: 100%;
        }
    }
    .last-schema{
        position: absolute;
        bottom: 0;
        opacity: 0;
    }
    .mission-schema{
        transition: opacity $transition;
        &.off{
            opacity: 0;
        }
        &.on{
            opacity: 1;
        }
    }
    .schema2{
        margin: 70px 0 0;
    }

    .mission-nav{
        right: $gutter;
    }
}

@media (min-width: $container){
    .example{
        .img-shape{
            margin-top: 100px;
        }
    }

    .mission-nb{
        width: 55.2%;
    }

    .mission-steps{
        font-size: 1.4rem;
        &:before{
            left: 18%;
        }
        > li{
            width: 16%;
        }
        &:nth-child(6){
            margin-right: 12%;
        }
        &:nth-child(9){
            margin-left: 12%;
        }
    }
}
