.mission{
    counter-reset: ol-counter;

    h3{
        color: inherit;
    }
}

.mission-section{
    padding-top: 60px;
    margin: 0 0 8em;
    counter-increment: ol-counter;

    h2{
        padding: 0 0 0 105px;
        position: relative;
        &:before {
            content: '#0' counter(ol-counter);
            position: absolute;
            top: -4px;
            left: 0;
            font-size: 4rem;
            color: $primary;
        }
        &:after{
            content: '';
            position: absolute;
            height: 140px;
            top: -60px;
            left: -50vw;
            right: 85%;
            z-index: -1;
            background: #fff;
        }
    }
}

.examples{
    margin: $line-height*3 0 $line-height*2;
}

.example{
    padding: 30px 35px;
    margin: 0 0 $line-height;
    background: $secondary;

    &:nth-of-type(2){
        background: $primary;
    }

    &:nth-of-type(3){
        background: $tertiary;
    }

    h3{
        max-width: 90%;
        margin: 0;
    }

    p{
        margin: 0;
    }
}

.mission-title{
    margin-top: $line-height*2;
    font-family: $recoleta-bold;
    font-size: 2.4rem;
}

.mission-links{
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;
}

.mission-link{
    width: calc(100% - #{$gutter});
    padding: 40px 30px 55px; 
    margin: 0 $gutter/2 $gutter;
    font-family: inherit;
    background: #fff;
    color: inherit;
    text-decoration: none;
    .sup-title{
        color: $grey;
    }
    .title{
        display: block;
        margin: 0 0 25px;
        font-size: 2rem;
        font-family: $recoleta-bold;
    }
    .link{
        font-family: $ibm-bold;
        color: $primary;
    }
}

.mission-cols{
    margin: $line-height*2 0 0;
    > div{
        margin: 0 0 $line-height;
    }
    h3, p{
        margin: 0;
    }
}

.mission-numbers{
    margin: $line-height 0;
    .mission-title{
        line-height: $line-height*2;
        border-bottom: 1px solid rgba($grey, 0.5);
    }
}
.mission-nb{
    .ref{
        display: flex;
        min-width: 165px;
        margin: 0 auto 10px;
    }
}


@media (min-width: $phone){
    .example{
        padding-bottom: 0;
        .img-shape{
            display: block;
            width: 200px;
            float: right;
            margin: 0 -60px 0 0;
            shape-margin: 50px;
        }
    }

    .mission-link{
        width: calc(50% - #{$gutter});
    }

    .mission-nb{
        display: flex;
        justify-content: space-between;
        margin: 0 $gutter*-1;
    }
}

@media (min-width: $tablet){
    .example{
        h3{
            font-size: 2rem;
        }
        .img-shape{
            margin-top: -60px;
        }
    }

    .mission-link{
        width: calc(33.33% - #{$gutter});
    }

    .mission-cols{
        display: flex;
        justify-content: space-between;
        > div{
            width: 28%;
        }
    }

    .mission-nb{
        width: 80%;
        margin: 0;
        .ref{
            display: inline-flex;
        }
    }
}

@media (min-width: $desktop-small){
    .examples{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-left: -$gutter;
        margin-right: -$gutter;
    }

    .example{
        width: 32%;
        margin: 0;
        h3{
            max-width: 100%;
        }
        .img-shape{
            shape-margin: 15px;
            margin-top: 140px;
        }
    }

    .mission-links{
        margin: 0 $gutter*-3 0 $gutter*-2;
    }

    .mission-link{
        .title{
            font-size: 2.4rem;
        }
    }
}

@media (min-width: $desktop){
    .examples{
        margin-left: 0;
        margin-right: 0;
    }

    .example{
        width: 30%;
        .img-shape{
            margin-top: 130px;
        }
    }

    .mission-cols{
        > div{
            width: 25.5%;
        }
    }

    .mission-numbers{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .mission-title{
            width: 34%;
        }
    }

    .mission-nb{
        width: 62%;
    }
}

@media (min-width: $container){
    .example{
        .img-shape{
            margin-top: 100px;
        }
    }

    .mission-nb{
        width: 55.2%;
    }
}
