.partners {
    display: flex;
    flex-direction: column;
    margin: #{2*$line-height} 0;

    >li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 0 #{$line-height*3};
        padding: 0;

        &::before {
            content: none;
        }
    }

    .img {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 122px;
        height: 122px;
        margin: 0 28px #{$line-height} 0;
        border-radius: 50%;
        background: $white;

        img {
            max-width: 85%;
            max-height: 85%;
        }
    }

    p {
        margin: #{$line-height} 0 0;
    }
}

.partner-name {
    font-family: $recoleta-bold;
    font-size: 2.8rem;
}

@media (min-width: $phone) {
    .partners {
        >li {
            flex-direction: row;
        }
    }
}

@media (min-width: $tablet) {
    .partners {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: #{4*$line-height};

        >li {
            flex-direction: column;
            width: 50%;
            margin-bottom: #{$line-height*4};
            padding-left: percentage(1/12);
        }
    }
}

@media (min-width: $desktop) {
    .partners {

        >li {
            flex-direction: row;
        }

        .img {
            width: 162px;
            height: 162px;
            margin-right: 48px;
        }
    }
}