.wrapper-data-intro {
    padding: #{$line-height*2} 0;
    background: $white;
}

.data-intro {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    h2 {
        margin: 0 0 #{2*$line-height};
    }
}

.list-datas {
    margin: 0;

    >li {
        position: relative;
        display: flex;
        align-items: center;
        min-height: #{2*$line-height};
        margin: 0 0 #{$line-height};
        padding: 0;

        &::before {
            content: none;
        }
    }

    .data-number {
        width: 64px;
        height: 64px;
        margin-top: -32px;
    }

    .data-text {
        margin: 0;
        padding-left: 84px;
    }
}

.wrapper-quote-solution {
    padding: #{2*$line-height} 0 #{2*$line-height};

    blockquote {
        position: relative;
        margin: 0 0 #{2*$line-height};
        font-size: 2.2rem;
        text-align: center;

        &::before,
        &::after {
            font-family: $ibm;
            font-size: 1.8rem;
            color: $primary;
        }

        &::before {
            content: "“";
            position: absolute;
            top: 0;
            transform: translate3d(calc(-100% - 3px), 0, 0);
        }

        &::after {
            content: "”";
        }
    }

    h2 {
        margin: 0 0 #{$line-height*2};
    }
}

.wrapper-techno {
    padding: #{2*$line-height} 0;
    background: $white;

    h2 {
        margin: 0 0 #{2*$line-height};
    }
}

.techno {
    display: flex;
    flex-direction: column;
    margin: 0;

    >li {
        display: flex;
        align-items: center;
        margin: 0 0 #{$line-height};
        padding: 0;

        &::before {
            content: none;
        }
    }

    p {
        margin: 0;
    }

    .lottie {
        flex: 0 0 auto;
        width: 100px;
        height: 100px;
        margin-right: 20px;
        overflow: hidden;
    }
}

.schema-wrapper{
    padding: 40px 0 0;
}
.schema{
    display: none;
}
.beyonce{
    width: 77px;
    margin: 0 0 -50px 50px;
}
.schema-svg{
    max-width: 100%;
    .schema-btn{
        cursor: help;
    }
}
.schema-desc{
    width: 85%;
    max-width: 440px;
    padding: 65px 60px;
    position: absolute;
    top: 50%;
    left: 20%;
    background: #fff;
    box-shadow: 0 10px 30px rgba(#000, 0.14);
    pointer-events: none;
    opacity: 0;
    &.on{
        opacity: 1;
    }
    p{
        margin: 0;
        font-size: 1.4rem;
        color: $grey;
    }
    h3{
        font-size: 2rem;
        margin: 0;
        color: inherit;
    }
}


@media (min-width: $phone){
    .schema{
        display: block;
        min-width: 490px;
        max-width: 520px;
        position: relative;
        margin: 0 auto;
    }

    .schema-img{
        display: none;
    }
}

@media (min-width: $tablet) {
    .wrapper-data-intro {
        padding: #{$line-height*4} 0;
    }

    .data-intro {
        flex-direction: row;

        >* {
            flex: 0 0 auto;
            width: 50%;
        }

        h2 {
            padding-right: percentage(0.5/12);
        }

        .list-datas {
            padding-left: percentage(0.5/12);
        }
    }

    .wrapper-quote-solution {
        padding: #{4*$line-height} 0 #{3*$line-height};

        blockquote {
            margin-bottom: #{4*$line-height};
            font-size: 2.8rem;

            &::before,
            &::after {
                font-size: 2.4rem;
            }
        }
    }

    .wrapper-techno {
        padding: #{4*$line-height} 0;
    }
}

@media (min-width: $desktop-small) {
    .data-intro {
        h2 {
            padding-right: percentage(1/12);
        }

        .list-datas {
            padding-right: percentage(1/12);
            padding-left: 0;
        }
    }

    .list-datas {

        >li {
            margin-bottom: #{2*$line-height};
        }

        .data-number {
            width: 84px;
            height: 84px;
            margin-top: -42px;
            font-size: 2.3rem;
        }

        .data-text {
            padding-left: 104px;
        }
    }

    .wrapper-techno {
        h2 {
            width: 50%;
            margin: 0 0 #{-3*$line-height};
            padding-left: percentage(1/12);
        }
    }

    .techno {
        flex-direction: row;
        flex-wrap: wrap;

        >li {
            width: 50%;
            margin: 0 0 #{2*$line-height};
            padding-left: percentage(1/12);

            &:first-child {
                margin-left: 50%;
            }
        }
    }
}

@media (min-width: $desktop){
    .schema-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .schema-text{
        width: 41.88%;
        margin: 0 0 0 8.5%;
    }

    .schema{
        width: 50%;
    }
}

@media (min-width: $desktop-big){
    .schema-text{
        width: 33.33%;
        margin: 0 8.5%;
    }
}